#wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "image"
    "response"
    "button"
    "footer";
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  background-color: black;
}

#wrapper > h1 {
  grid-area: header;
  color: yellow;
}

#wrapper > img {
  grid-area: image;
  width: 50%;
}

#response {
  grid-area: response;
  color: white;
}

button {
  grid-area: button;
}

#footer {
  grid-area: footer;
}

footer > p {
  color: white;
}