body {
  background-image: url("../img/Ancestor_House_of_Ruin.webp");
}

#wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "response"
    "button"
    "footer";
  grid-template-rows: repeat(4, auto);
  justify-items: center;
}

#wrapper > h1 {
  grid-area: header;
  color: yellow;
}

#response {
  grid-area: response;
  color: white;
}

button {
  grid-area: button;
}

#footer {
  grid-area: footer;
}

footer > p {
  color: white;
}