body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Los Guripas';
  src: url('../fonts/Los\ Guripas.otf');
}

#main {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: 'Los Guripas';
  font-size: 0;
}