body {
  margin: 0;
}

* {
  font-family: "Montserrat";
}

.black-box {
  padding: 0.2em 0.5em;
  display: inline-flex;
  background-color: black;
  color: white;
  font-weight: 600;
}

.background-color {
  background-color: #ffaf00;
}

.contact-text {
  margin: 0.2em;
}

.landing-images {
  margin-top: 1.5em;
}

.fa-solid {
  font-size: 2em;
  align-self: center;
}

.contact-wrapper {
  display: flex;
  gap: 0.8em;
  min-height: 0;
}

.section-title-text {
  text-transform: uppercase;
  font-size: 2em;
}

.non-grid-margin {
  margin: 0 10%;
}

.line {
  margin: 0.5em 0;
  border: .1em solid black;
}

.catalog-item {
  display: flex;
  min-width: 0;
  gap: 1em;
  margin: 1em 0;
}

.catalog-item img {
  max-width: 40vw;
}

.catalog-text {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.catalog-text h2 {
  margin: 0 0;
  flex: 1;
  flex-basis: 0;
}

.catalog-text subtitle {
  display: inline-block;
  margin: 0.125em 0;
  overflow: hidden;
  flex: 3;
  flex-basis: 0;
}

.yellow-box {
  padding: 0.2em 0.5em;
  background-color: #ffaf00;
  color: black;
  font-weight: 600;
  margin: 0 0;
  flex: 1;
  flex-basis: 0;
  text-align: center;
}

.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 1000;
  font-style: normal;
  font-size: 40px;
}

#wrapper {
  display: grid;
  grid-template-areas:
    "landing-images-empty-left landing-images-left landing-images-right landing-images-empty-right"
    "landing-bar-left-block landing-bar-left-block landing-images-right landing-bar-right-block"
    "landing-bar-margin-left landing-bar landing-bar landing-bar-margin-right"
    "landing-bar-margin-left footer footer landing-bar-margin-right"
    "thank-you thank-you thank-you thank-you"
    "about-company about-company about-company about-company"
    "bio bio bio bio"
    "insightful-quote insightful-quote insightful-quote insightful-quote"
    "content content content content";
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: repeat(9, auto);
  height: 100%;
}

/* Landing images */
#landing-images-left img, #landing-images-right img {
  max-width: 40vw;
  width: auto;
  height: auto;
  box-sizing: border-box;
  border: .5em solid white;
}

#landing-images-left {
  grid-area: landing-images-left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#landing-images-right {
  grid-area: landing-images-right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-bar-left-block {
  grid-area: landing-bar-left-block;
}

#landing-bar-right-block {
  grid-area: landing-bar-right-block;
}

#landing-text-margin-left {
  grid-area: landing-bar-margin-left;
}

#landing-text-margin-right {
  grid-area: landing-bar-margin-right;
}

#title {
  grid-area: landing-bar;
}

#id-number {
  margin-top: 3em;
}

#title-text1, #title-text2{
  margin-top: 0.2em;
  text-transform: uppercase;
}

#title-text1 {
  margin-bottom: 0.2em;
  font-weight: 600;
}

#title-text2 {
  font-weight: 700;
  margin-bottom: 1.5em;
}

footer { 
  grid-area: footer;
}

#contact-head {
  display: flex;
  min-height: 0;
  gap: 1em;
  margin: 1em 0;
}

#phone-head {
  display: flex;
  flex-direction: column;
}

#contact {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  text-align: center;
}

#phone-numbers {
  display: flex;
  flex-direction: column;
}

#other-info {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

#thank-you {
  grid-area: thank-you;
  margin: 5rem 10%;
}

#thank-you h1 {
  margin-bottom: 0;
}

#thank-you p {
  margin: 2em 0;
}

#about {
  grid-area: about-company;
}

#bio {
  grid-area: bio;
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

#bio-image {
  height: auto;
  max-width: 50vw;
  align-self: flex-start;
}

#bio-text h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#bio-text p:last-of-type{
  margin-top: 0;
}

#bio-text{
  margin-bottom: 1em;
}

#insight {
  grid-area: insightful-quote;
  margin-bottom: 5rem;
}

#insight-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  margin: 1em 1em;
}

#insight-wrapper img {
  max-width: 30vw;
  box-sizing: border-box;  
}

#insight-wrapper p {
  margin: 0 0;
}

#catalog {
  grid-area: content;
  margin-bottom: 1.5em;
}

#catalog-wrapper {
  display: flex;
  flex-direction: column;
}









